@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
--azulclaro: #48D6ED;
--azuloscuro: #337AB7;
--azulnegro: #303342;
--negro: #333333;
--negro2: #000;
--gris: #B2B3B3;
--fondo: #FFFEFC;
--verdeazul: #157A8A;
--Magenta: #9C2759;
--blanco: #fff;
--degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
}

*{
    margin:0;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h1,h2,h3,h4,h5{
     font-family: 'Marcellus', serif;
}
/*Mobile - Tablet*/
#container-grid{
    display: grid;
    grid-template:
            "nav" auto
            "banner" auto
            "descripcion" auto
            "features" auto   /*Quizas de problemas porque es "feautes"*/
            "ubicacion" auto
            "opinion" auto
            "footer" auto
                    ;
}

    /*Nav*/
        nav{
            grid-area: nav;
            display: grid;
            grid-template-areas: 
            "logo"
            "menu"
            ;
            font-family: 'Marcellus', serif;
            font-size: 1.3rem;
            position: fixed;
            z-index: 100;
            width: 100%;
        }
        .logo{
            grid-area: logo;
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto;
            grid-template-areas: 
            "logo-img menu-bars";
            background-color: var(--negro2);
            padding: 1rem;

        }
        .logo img{
            grid-area: logo-img;
            justify-self: start;
            width: 50%;
            max-width: 200px;
            
        }

        .logo i{
            grid-area: menu-bars;
            color: var(--blanco);
            font-size: 2em;
            justify-self: end;
        }
    /*Cierre Nav*/

    /*Menu*/
        .menu{
            grid-area: menu;
            display: grid;
            background-color: rgba(1, 10, 52, 0.838);
            align-items: center;
            display: none; /*Para que no se vea el menu antes de clickear el boton de hamburguesa*/
        }
        .menu-hr{
            color:var(--blanco);
            width: 90%;
            justify-self: center;
        }
        .item{
            padding: 1rem;
        }

        nav a{
            color: var(--blanco);
            text-decoration: none;
            text-align: center;
        }
        nav a:hover{
            width: 100%;
            background-color: #0B3860;
        }
        .navbarbutton{
            background-color: transparent;
            border: none;
            border-radius: 3px;
            font-size: 1em;
            padding: 0.5rem;
            font-family: 'Marcellus', serif;
            color: var(--blanco);
            cursor: pointer;
        }
    /*Cierre menu*/

    /*Banner*/
        #banner{
            display:flex;
            flex-direction: column;
            justify-content:end;
            background-image: url(../img/slide1.jpg);
            background-size: cover;
            background-position: 50% 40%; /*Para que se vea solo el centro de la imagen cuando esta en dispositivos mobiles*/
            min-height: 400px;
            margin-top: 70px;      
        }
        .banners-text{
            background: linear-gradient(90deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 80%);
            padding: 1.4rem 0 4rem 3rem ;
        }
        .banner-text{
            font-size: 3rem;
            font-weight:500;
            color: var(--blanco);
        }
    /*Cierre banner*/

    /*Inicio descripcion*/
        .descripcion-text{
            font-size: 1.7rem;
            padding: 3.2rem;
        }
        .descripcion-logo{
            display: none;
        }
    /*Cierre descripcion*/

    /*Inicio feautures*/
        #features{
            display:flex;
            flex-direction: column;
            background-size: cover;
            background-position: 100%;
            background-image: url(../img/bg-features.png);     
            color: var(--blanco);
            text-shadow: 1px 1px 4px var(--negro);
        }
        .features-title{
            font-weight: normal;
            background-color: rgba(0, 0, 0, 0.2);
            text-align: center;
            font-size: 2.5em ;
            padding: 2rem 10rem;
        }
        .features-description{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin: 1.5rem 0;
        }
        .feature{
            text-align: center;
            padding: 2rem;
                min-width: 180px;
                max-width: 250px;  
            border-radius: 3px;  
        }
        .feature i{
            font-size: 3.2rem;
            margin-bottom: 1.5rem;
        }
        .feature-blue{
            font-size: 1.9rem;
            margin: 2rem 0;
            background-color: #00325eae;
        }
        .feature-black{
            font-size: 1.9rem;
            margin: 2rem 0;
            background-color: rgba(0,0,0,0.59);
        }
    /*Cierre feautures*/

    /*Inicio Ubícanos*/
        #ubicacion{
            display: flex;
            flex-direction: column; 
        }
        #ubicacion hr{
            width:90%;
            margin-top: 0.5rem;
            border-color: var(--azulclaro);
        }
        .ubicacion-title{
            text-align: center;
            font-size: 4rem;
            padding: 1.5rem;
        }
        .ubicacion-map{
            text-align: center;
        }
        .ubicacion-map iframe{
            width: 95%;
            height: 480px;
        } 
        .ubicacion-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            font-weight: normal;
            text-transform: uppercase;
            font-size: 2.5rem;
            padding: 2rem;
        }

    /*Cierre Ubícanos*/

    /*Inicio Banner*/
        #opinion{
            color:var(--blanco)
        }
        .opinion-title{
            background-color:var(--negro);
            font-weight: normal;
            text-align: center;
            font-size: 3rem;
            padding: 1.5rem;
        }
    /*Cierre Banner*/


/*Resolución tablets*/
@media screen and (min-width:768px) {
    
}
/*Resolución medias*/
@media screen and (min-width:1024px) {

    /*Inicio Nav*/
    nav {
        background-color: var(--negro2);
        grid-template-columns: 200px auto;
        grid-template-areas:
        "logo menu" ;
                        
    }
    .logo{
        padding: 1rem;
    }
    .logo img{
        width: 100%;
        max-width: 180px;
    }
    .logo i{ 
        display: none;/*Ocultar icono de barras*/
    }
    .menu{
        display: block;
        background-color: var(--negro2);
        display:grid;
        grid-template-columns: 150px 150px 150px 200px;
        justify-self: end;
        align-self: center;
       
    }
    .item{
        padding: 0;
    }
    .menu-hr{
        display: none;
    }
    .navbarbutton{
        background-color: var(--azuloscuro);
        align-self: center;
    }
    nav a:hover{
        width: auto;
        background-color: transparent;
    }
    /*Cierre Nav*/

/*Inicio Banner*/
    .banner-text{
        width: 50%;
    }
/*Cierre Banner*/

/*Inicio descripcion*/
    .descripcion{
        display:flex;
        align-items:center;
        padding: 4rem;
    }
    .descripcion-text{
        font-size: 1.3rem;
        flex-basis: 70%;
    }
    .descripcion-logo{
        display: block;
        height: 13rem;
        flex-basis: 30%;
    }
/*Cierre descripcion*/

/*Inicio feature*/
    #features{
        padding:1rem 0;
    }
    .features-title{
        font-size: 2em ;
        padding: 0;
    }
    .features-description{
        justify-content: center;
        margin: 2rem 0;
    }
    .feature{
        padding: 1rem;
    }
    .feature i{
        font-size: 2.2rem;
    }
    .feature-blue{
        font-size: 1rem;
        margin: 1rem;
    }
    .feature-black{
        font-size: 1rem;
        margin: 1rem;
    }
    .feature-1{
        display:flex;
    }
    .feature-2{
        display: flex;
        flex-direction: row-reverse;
    }
/*Cierre feature*/

/*Inicio Ubicanos*/
    #ubicacion hr{
        width:75%;
    }
    .ubicacion-title{
        font-size: 3rem;
    }
    .ubicacion-map iframe{
        height: 330px;
    } 
    .ubicacion-info {
        font-size: 1.7rem;
        padding: 0.5rem;
    }
/*Cierre Ubicanos*/

/*Inicio Banner*/
    
/*Cierre Banner*/
}

/*Resolución Macro*/
    @media screen and (min-width:1308px) {
        body{
            background-color: #eaeaea;
        }
        #container-grid{
           max-width: 1300px;
           margin: 0 auto;
        }
        nav{
            width: 100%;
            max-width: 1300px;
        }
    }